p{
    font: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.name{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 8px;
}
.sub-heading{
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 6px;
    margin-top: 8px;
}
.button{
    border-radius: 5px;
    border: None;
    background-color: rgb(0,0,128) ;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: white;
}
.bio{
    margin-top: 8px;
}